*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

body{
    background:#fff2fa;
    color:#444;
}


.banner{
    text-align:center;
    padding:60px 20px;
    background:linear-gradient(135deg,#ffb6da,#ff86c2);
    color:white;
}

.banner h1{
    font-size:36px;
    margin-bottom:10px;
}

#timeText{
    font-size:16px;
    opacity:.9;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:white;
    box-shadow:0 3px 15px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:99;
}

.logo{
    color:#ff4f9b;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#444;
    font-weight:500;
}

nav a:hover,
.active{
    color:#ff4f9b;
}

/* SECTION */
section{
    padding:60px;
    text-align:center;
}

/* HOME */
.hero{
    max-width:700px;
    margin:auto;
}

.hero span{
    color:#ff4f9b;
    font-weight:600;
}

/* ABOUT */
.about-box{
    display:flex;
    gap:40px;
    justify-content:center;
    align-items:center;
    max-width:900px;
    margin:auto;
}

.about-box img{
    width:260px;
    height:260px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #ffd0e9;
}

/* EDUCATION */
.edu-list{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.edu-card{
    background:white;
    border-radius:15px;
    padding:25px;
    width:260px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

/* GALLERY */
.photos{
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.ph-card{
    background:white;
    padding:10px;
    border-radius:20px;
    width:230px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.ph-card img{
    width:100%;
    border-radius:15px;
}

/* CONTACT */
form{
    width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input,textarea{
    padding:12px;
    border-radius:10px;
    border:1px solid #ff9ec4;
}

button{
    background:#ff7db8;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    opacity:.9;
}

/* FOOTER */
footer{
    text-align:center;
    padding:15px;
    background:#ff9ec4;
    color:white;
    margin-top:30px;
}

/* RESPONSIVE */
@media(max-width:750px){
    .about-box{
        flex-direction:column;
        text-align:center;
    }
}
/* ======= GALLERY ======== */

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;
    padding:20px;
}

.g-card{
    background:white;
    border-radius:20px;
    padding:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
    transition:.3s;
}

.g-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.g-card img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:15px;
    cursor:pointer;
}

/* TEXT */
.g-card h3{
    margin-top:10px;
    color:#ff4f9b;
}

.g-card p{
    font-size:14px;
    color:#666;
}

/* POPUP */
.popup{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.popup img{
    width:55%;
    border-radius:15px;
    box-shadow:0 10px 40px rgba(0,0,0,.5);
}

#closePopup{
    position:absolute;
    top:40px;
    right:60px;
    font-size:45px;
    color:white;
    cursor:pointer;
}
